.intro-image {
    max-width: 1170px;
    width: 100%;
    }
    
    img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: top;
    }
    
    .banner {
    margin-bottom: 18px;
    }