.footer {
    background-color: #000000;

    &__holder {
        max-width: 690px;
        color: #B9B9B9;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
    }

    &__text {
        padding-top: 22px;
        font-size: 16px;
    }

    &__social {
        @include flex-center;
        padding-top: 37px;
    }

.headline-light {
color: #ffffff;
}
}

.icon {
    position: relative;
    width: 34px;
    height: 34px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}

.icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }

.icon.rss {
    border: 2px solid #F8902E;
}

.icon.facebook {
    border: 2px solid #39599F;
}

.icon.twitter {
    border: 2px solid #45B0E3;
}

.icon.pinterest{
    border: 2px solid #CC212C;
}

.icon.dribble{
    border: 2px solid #D97AB0;
}

.contact {
    @include flex-space-around;
    width: 100%;
    padding: 34px 50px 10px;
    font-size: 16px;
}

.contact span {
    padding-left: 10px;
}

@media screen and (max-width: $width-md - 1px) {
    .footer__holder {
        padding: 0 15px 45px;
    }

    .section-title.headline-light {
        padding-top: 38px;
    }

    .footer-text-hidden {
        display: none;
    }

    .contact {
        @include flex-center;
        flex-direction: column;
        font-size: 14px;
    }

    .contact span {
        padding-left: 4px;
    }
}

