.nav {
    // padding: 15px 0;

    &__item {
        padding: 45px 0;
    }

    &__link {
        font-size: 0.8em;
    }

    a {
        text-transform: uppercase;
        letter-spacing: 1.1px;
    }

    a:hover {
        color: #57A4A4;
    }
}

.nav__list {
    display: flex;
    justify-content: space-around;
    max-width: 815px;
    width: 100%;
    margin: 0 auto;
}


.burger-menu-wrap {
    font: inherit;
    display: inline-block;
    overflow: visible;
    padding: 13px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: #000;
}

.burger-menu {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 10px;
}

.burger-menu-inner {
    top: 0px;
    display: block;
}

.burger-menu-inner,
.burger-menu-inner:after,
.burger-menu-inner:before {
    position: absolute;
    width: 17px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff
}

.burger-menu-inner:before {
    top: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform, opacity;
}

.burger-menu-inner:after,
.burger-menu-inner:before {
    display: block;
    content: "";
}

.burger-menu-inner:after {
    top: 8px;
}

.burger-menu-wrap.active .burger-menu-inner:before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0;
}

.burger-menu-wrap.active .burger-menu-inner,
.burger-menu-wrap.active .burger-menu-inner:after,
.burger-menu-wrap.active .burger-menu-inner:before {
    background-color: #fff;
}

.burger-menu-wrap.active .burger-menu-inner:after {
    transform: translate3d(0, -8px, 0) rotate(-90deg);
}

.burger-menu-wrap.active .burger-menu-inner {
    transform: translate3d(0, 4px, 0) rotate(45deg);
}

@media screen and (min-width: $width-md) {
    .burger-menu-wrap {
        display: none;
    }
}

@media screen and (max-width: $width-md - 1px) {
    .nav {
        position: relative;
        text-align: right;
        padding: 15px;

        &__item {
            padding: 7px 15px;
            text-align: left;
            width: 100%;

        }

        &__link.active {
            color: #57A4A4;
        }

        &__item:hover {
            background: #E5E5E5;
        }

        .burger-menu-wrap {
            &.active~.nav__list {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        .nav__list {
            transition: .3s ease-in-out;
            position: absolute;
            top: 57px;
            width: 200px;
            background: #F5F5F5;
            right: 28px;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 10px 0px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
        }
    }
}

@media screen and (max-width: $width-lg - 1px) {
    .nav__list {
        padding: 0 60px;
    }
}