.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 24px 0 69px;
}

.post-item {
    display: grid;
    grid-template-columns: 160px 1fr;
    background-color: white;
    grid-gap: 0 15px;

    &__add-info {
        padding-top: 5px;
        font-size: 12px;
        color: $text-add-info;
    }

    &__description {
        padding-top: 13px;
        color: $text-description;
        max-width: 404px;
    }
}

img.post-item__image {
    max-width: 160px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 140px;
}

@media screen and (max-width: $width-lg - 1px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 33px;
        padding: 24px 0 69px;
    }

}

// @media screen (min-width: $width-sm - 1px) and (max-width: $width-md - 1px) {
    @media screen and (max-width: $width-md - 1px) {
        .posts {
            grid-template-columns: 1fr 1fr;
            padding-bottom: 20px;
        }

        .post-item__description {
            display: none;
            text-align: center;
        }
        
        .post-item {
            grid-template-columns: 1fr;
            justify-self: center;
        }

        .post-item img {
            margin: 0 auto;
        }

        .post-item__title {
            padding-top: 11px;
            font-size: 14px;
        }
    }


@media screen and (max-width: $width-sm - 1px) {

    .posts {
        grid-template-columns: 1fr;
        grid-gap: 24px;
        padding-bottom: 13px;
    }

    .post-item {
        grid-template-columns: 1fr;
        justify-self: baseline;
    }

    .post-item img {
        margin-left: 0;
    }

    .post-item__title {
        padding-top: 11px;
    }

    .post-item__description {
        display: none;
    }

    .post-item.hidden-md {
        display: none;
    }
}



  