@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-space-around {
    display: flex;
    justify-content: space-around;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}