@import "_variables";
@import "_mixins";
@import "_reset";
@import "sections/nav";
@import "sections/banner";
@import "sections/posts";
@import "sections/instagram";
@import "sections/footer";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
}

html {
  font-family: Roboto;
  font-size: 14px;
  color: $text-headline;
  width: 100%;
}

.center-holder {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: $text-headline;
  padding-top: 47px;
}

